html {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    font-size: 14px;
    color: #333333;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    
}

#app {
    height: 100%;
}

* {
    box-sizing: border-box;
}