html {
    height: 100%;
    background-color: #EFEFEF;
}

body {
    font-size: 14px;
    color: #333333;
    height: 100%;
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
    ;
    margin: 0;
    /* overflow: hidden; */
}

#app {
    height: 100%;

}

* {
    box-sizing: border-box;
}