body,
html {
  padding: 0;
  margin: 0;
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
}
body header,
html header {
  height: 40px;
  width: 100%;
  background-color: #333333;
}
body header .nav_container,
html header .nav_container {
  display: flex;
  margin: 0 61.5px 0 61.5px;
}
body header .nav_container .left_nav,
html header .nav_container .left_nav {
  flex: 5;
  display: flex;
  line-height: 40px;
  align-items: center;
}
body header .nav_container .left_nav span,
html header .nav_container .left_nav span {
  color: #424242;
  margin: 0 3.4px 0 5px;
}
body header .nav_container .left_nav a,
html header .nav_container .left_nav a {
  height: 100%;
  font-size: 12px;
  text-decoration: none;
  color: #B0B0B0;
  position: relative;
}
body header .nav_container .left_nav a span.app,
html header .nav_container .left_nav a span.app {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 124px;
  height: 0;
  z-index: 2;
  background: #fff;
  margin-left: -55px;
  box-shadow: 0 1px 5px #aaa;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 1;
  overflow: hidden;
  transition: height 0.3s;
}
body header .nav_container .left_nav a img,
html header .nav_container .left_nav a img {
  display: block;
  margin: 18px auto 10px;
}
body header .nav_container .left_nav a.app_hover:hover .app,
html header .nav_container .left_nav a.app_hover:hover .app {
  height: auto;
  line-height: 33px;
}
body header .nav_container .a_hover:hover,
html header .nav_container .a_hover:hover {
  color: #FFFFFF;
}
body header .center_nav,
html header .center_nav {
  flex: 3;
  line-height: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
body header .center_nav a,
html header .center_nav a {
  height: 100%;
  font-size: 12px;
  text-decoration: none;
  color: #B0B0B0;
}
body header .center_nav span,
html header .center_nav span {
  color: #424242;
  margin: 0 3.4px 0 5px;
}
body header .center_nav .a_hover:hover,
html header .center_nav .a_hover:hover {
  color: #FFFFFF;
}
body header .right_nav,
html header .right_nav {
  flex: 1;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  background-color: #424242;
  position: relative;
}
body header .right_nav a,
html header .right_nav a {
  z-index: 32;
  flex: 1;
  height: 100%;
  font-size: 12px;
  text-decoration: none;
  color: #B0B0B0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .right_nav a em,
html header .right_nav a em {
  margin-right: 14px;
  font-size: 14px;
}
body header .right_nav a em span,
html header .right_nav a em span {
  color: #B0B0B0;
}
body header .right_nav a:hover + div.car_hover,
html header .right_nav a:hover + div.car_hover {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
body header .right_nav a:hover,
html header .right_nav a:hover {
  background-color: #FFF;
  color: #ff672c;
}
body header .right_nav a:hover span,
html header .right_nav a:hover span {
  color: #ff672c;
}
body header .right_nav div.car_hover,
html header .right_nav div.car_hover {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 31;
  width: 316px;
  height: 0;
  color: #424242;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
body .site_header,
html .site_header {
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
body .site_header .container,
html .site_header .container {
  width: 1326px;
  margin-right: 40px;
  margin-left: 63px;
  height: 100%;
  position: relative;
}
body .site_header .container .logo,
html .site_header .container .logo {
  margin-top: 22px;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background-color: #ff6700;
}
body .site_header .container .logo .logo_hov,
html .site_header .container .logo .logo_hov {
  transition: transform 0.3s ease;
  width: 86px;
  height: 100%;
  display: flex;
}
body .site_header .container .logo .logo_hov i,
html .site_header .container .logo .logo_hov i {
  flex: 1;
  margin-left: 11px;
  margin-top: 5px;
  font-size: 32px;
  color: #fff;
}
body .site_header .container .logo:hover .logo_hov,
html .site_header .container .logo:hover .logo_hov {
  transform: translate(-43px, 0);
  transition: transform 0.3s ease;
}
body .site_header .container .header_nav,
html .site_header .container .header_nav {
  position: absolute;
  top: 0;
  left: 55px;
  width: 850px;
  height: 100%;
  display: flex;
  align-items: center;
}
body .site_header .container .header_nav ul,
html .site_header .container .header_nav ul {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
  margin-left: 119px;
}
body .site_header .container .header_nav ul li,
html .site_header .container .header_nav ul li {
  list-style: none;
  cursor: pointer;
}
body .site_header .container .header_nav ul li a,
html .site_header .container .header_nav ul li a {
  display: block;
  padding: 26px 10px 38px;
}
body .site_header .container .header_nav ul li a span,
html .site_header .container .header_nav ul li a span {
  font-size: 16px;
  color: #333333;
}
body .site_header .container .header_nav ul .chilrd_container,
html .site_header .container .header_nav ul .chilrd_container {
  z-index: 2;
  background-color: #ffffff;
  position: absolute;
  top: 100px;
  left: -237px;
  width: 1349px;
  height: 0;
  border: 2px solid rgba(105, 101, 101, 0);
  border-left: 0;
  border-right: 0;
  box-shadow: 0px;
  transition: all 0.3s;
  transition-delay: 0.3s;
}
body .site_header .container .header_nav ul .chilrd_container ul,
html .site_header .container .header_nav ul .chilrd_container ul {
  width: 1163px;
  margin-right: 40px;
  margin-left: 63px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 0.3s;
}
body .site_header .container .header_nav ul .chilrd_container ul li,
html .site_header .container .header_nav ul .chilrd_container ul li {
  float: left;
  width: 180px;
  padding: 23px 12px 0;
  text-align: center;
  font-size: 12px;
  position: relative;
}
body .site_header .container .header_nav ul .chilrd_container ul li .list .xm_name,
html .site_header .container .header_nav ul .chilrd_container ul li .list .xm_name {
  color: #333;
  margin-top: 10px;
}
body .site_header .container .header_nav ul .chilrd_container ul li .list p,
html .site_header .container .header_nav ul .chilrd_container ul li .list p {
  color: #ff6700;
  margin: 0;
}
body .site_header .container .header_nav ul .chilrd_container ul li:nth-child(n+2)::before,
html .site_header .container .header_nav ul .chilrd_container ul li:nth-child(n+2)::before {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 1;
  width: 1px;
  height: 100px;
  content: "";
  background-color: #e0e0e0;
}
body .site_header .container .header_nav ul .chilrd_container:hover,
html .site_header .container .header_nav ul .chilrd_container:hover {
  position: absolute;
  top: 100px;
  left: -237px;
  width: 1349px;
  height: 228px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-right: 0;
  transition: height 0.5s;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.18);
}
body .site_header .container .header_nav ul .chilrd_container:hover ul,
html .site_header .container .header_nav ul .chilrd_container:hover ul {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
body .site_header .container .header_nav ul li:hover span,
html .site_header .container .header_nav ul li:hover span {
  color: #ff6700;
}
body .site_header .container .header_nav ul li:hover + .chilrd_container,
html .site_header .container .header_nav ul li:hover + .chilrd_container {
  position: absolute;
  top: 100px;
  left: -237px;
  width: 1349px;
  height: 228px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-right: 0;
  transition: height 0.5s;
  transition-delay: 0.2s;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.18);
}
body .site_header .container .header_nav ul li:hover + .chilrd_container ul,
html .site_header .container .header_nav ul li:hover + .chilrd_container ul {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
  transition-delay: 0.2s;
}
body .site_header .container .header_search,
html .site_header .container .header_search {
  position: absolute;
  top: 0;
  right: 0;
  width: 321px;
  height: 100%;
  display: flex;
  align-items: center;
}
body .site_header .container .header_search form,
html .site_header .container .header_search form {
  position: relative;
  right: 0;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
}
body .site_header .container .header_search form .search,
html .site_header .container .header_search form .search {
  right: 51px;
  z-index: 1;
  width: 245px;
  height: 50px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  border: 1px solid #e0e0e0;
}
body .site_header .container .header_search form .search:focus,
html .site_header .container .header_search form .search:focus {
  outline: none;
  border: 1px solid #ff6700;
}
body .site_header .container .header_search form .search:focus + .search_do,
html .site_header .container .header_search form .search:focus + .search_do {
  outline: none;
  border: 1px solid #ff6700;
  border-left: 0;
}
body .site_header .container .header_search form .search_do,
html .site_header .container .header_search form .search_do {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  border: 1px solid #e0e0e0;
  border-left: 0;
}
body .site_header .container .header_search form .search_do i,
html .site_header .container .header_search form .search_do i {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 20px;
  font-weight: 800;
}
body .swiper_box,
html .swiper_box {
  height: 460px;
  width: 1226px;
  margin-left: 63px;
  margin-right: 40px;
  display: flex;
  position: relative;
}
body .swiper_box .swiper,
html .swiper_box .swiper {
  width: 100%;
  height: 460px;
}
body .swiper_box .swiper .swiper_list,
html .swiper_box .swiper .swiper_list {
  width: 234px;
  height: 460px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
body .swiper_box .swiper .swiper_list ul.uu,
html .swiper_box .swiper .swiper_list ul.uu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  margin: 0;
  color: #fff;
  background: rgba(105, 101, 101, 0.6);
}
body .swiper_box .swiper .swiper_list ul.uu li.ll,
html .swiper_box .swiper .swiper_list ul.uu li.ll {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 1;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll a,
html .swiper_box .swiper .swiper_list ul.uu li.ll a {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll a em,
html .swiper_box .swiper .swiper_list ul.uu li.ll a em {
  position: absolute;
  top: 9px;
  right: 20px;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll .list_item,
html .swiper_box .swiper .swiper_list ul.uu li.ll .list_item {
  position: absolute;
  left: 234px;
  top: 4px;
  visibility: hidden;
  opacity: 0;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul,
html .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul {
  background-color: #fff;
  padding: 0px;
  width: 991px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  height: 455px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li,
html .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li {
  list-style: none;
  height: 75px;
  width: 220px;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li a,
html .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li a {
  text-decoration: none;
  height: 75px;
  width: 220px;
  color: #333;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li a span,
html .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li a span {
  padding: 10px;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li a span:hover,
html .swiper_box .swiper .swiper_list ul.uu li.ll .list_item ul li a span:hover {
  color: #ff672c;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll:hover,
html .swiper_box .swiper .swiper_list ul.uu li.ll:hover {
  background-color: #ff6700;
}
body .swiper_box .swiper .swiper_list ul.uu li.ll:hover .list_item,
html .swiper_box .swiper .swiper_list ul.uu li.ll:hover .list_item {
  opacity: 1;
  visibility: visible;
}
body .swiper_box .swiper .swiper_item,
html .swiper_box .swiper .swiper_item {
  position: relative;
  height: 460px;
}
body .swiper_box .swiper .swiper_item .item,
html .swiper_box .swiper .swiper_item .item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
body .swiper_box .swiper .swiper_item .item img,
html .swiper_box .swiper .swiper_item .item img {
  width: 1226px;
  height: 460px;
}
body .swiper_box .swiper .swiper_item .item-1,
html .swiper_box .swiper .swiper_item .item-1 {
  opacity: 1;
  visibility: visible;
  animation: item-1 20s infinite alternate;
}
@keyframes item-1 {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body .swiper_box .swiper .swiper_item .item-2,
html .swiper_box .swiper .swiper_item .item-2 {
  opacity: 0;
  visibility: visible;
  animation: item-2 20s infinite alternate;
}
@keyframes item-2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body .swiper_box .swiper .swiper_item .item-3,
html .swiper_box .swiper .swiper_item .item-3 {
  opacity: 0;
  visibility: visible;
  animation: item-3 20s infinite alternate;
}
@keyframes item-3 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body .swiper_box .swiper .swiper_item .item-4,
html .swiper_box .swiper .swiper_item .item-4 {
  opacity: 0;
  visibility: visible;
  animation: item-4 20s infinite alternate;
}
@keyframes item-4 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body .swiper_box .swiper .swiper_item .item-5,
html .swiper_box .swiper .swiper_item .item-5 {
  opacity: 0;
  visibility: visible;
  animation: item-5 20s infinite alternate;
}
@keyframes item-5 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .content-box,
html .content-box {
  width: 1226px;
  height: 170px;
  margin: 15px 61.5px 30px;
  display: flex;
}
body .content-box .content-left,
html .content-box .content-left {
  width: 234px;
  height: 170px;
}
body .content-box .content-left ul,
html .content-box .content-left ul {
  width: 234px;
  height: 170px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #5f5750;
}
body .content-box .content-left ul li,
html .content-box .content-left ul li {
  position: relative;
  flex: 1;
  width: 70px;
  height: 82px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}
body .content-box .content-left ul li a,
html .content-box .content-left ul li a {
  opacity: 0.7;
  font-size: 12px;
  width: 70px;
  height: 64px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding-top: 18px;
}
body .content-box .content-left ul li a img,
html .content-box .content-left ul li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}
body .content-box .content-left ul li:before,
html .content-box .content-left ul li:before {
  position: absolute;
  top: 1px;
  left: 6px;
  width: 64px;
  height: 1px;
  content: "";
  background: #665e57;
}
body .content-box .content-left ul li:after,
html .content-box .content-left ul li:after {
  position: absolute;
  content: "";
  background: #665e57;
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
}
body .content-box .content-left ul li:hover a,
html .content-box .content-left ul li:hover a {
  opacity: 1;
}
body .content-box .content-right,
html .content-box .content-right {
  display: flex;
}
body .content-box .content-right .item img,
html .content-box .content-right .item img {
  width: 316px;
  height: 170px;
  margin-left: 15px;
}
body .content-box .content-right .item:hover img,
html .content-box .content-right .item:hover img {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
body .wrap,
html .wrap {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
body .wrap .box-wrap,
html .wrap .box-wrap {
  width: 1226px;
  margin: 0 61.5px;
  height: auto;
}
body .wrap .box-wrap .top-wrap,
html .wrap .box-wrap .top-wrap {
  height: 58px;
}
body .wrap .box-wrap .top-wrap span,
html .wrap .box-wrap .top-wrap span {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
body .wrap .box-wrap .center-wrap,
html .wrap .box-wrap .center-wrap {
  display: flex;
}
body .wrap .box-wrap .center-wrap .left-wrap,
html .wrap .box-wrap .center-wrap .left-wrap {
  text-align: center;
  height: 339px;
  width: 234px;
  background-color: #f1eded;
  border-top: 1px solid #e53935;
}
body .wrap .box-wrap .center-wrap .left-wrap .times,
html .wrap .box-wrap .center-wrap .left-wrap .times {
  color: #e53935;
  font-size: 21px;
  margin-top: 50px;
}
body .wrap .box-wrap .center-wrap .left-wrap em,
html .wrap .box-wrap .center-wrap .left-wrap em {
  padding-left: 50px;
  color: #e53935;
  font-size: 70px;
}
body .wrap .box-wrap .center-wrap .left-wrap .notes,
html .wrap .box-wrap .center-wrap .left-wrap .notes {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
body .wrap .box-wrap .center-wrap .left-wrap .fin-time,
html .wrap .box-wrap .center-wrap .left-wrap .fin-time {
  height: 48px;
  margin-top: 30px;
}
body .wrap .box-wrap .center-wrap .left-wrap .fin-time span,
html .wrap .box-wrap .center-wrap .left-wrap .fin-time span {
  width: 46px;
  height: 46px;
  font-size: 24px;
  color: #fff;
  line-height: 46px;
  padding: 10px;
  background-color: #605751;
}
body .wrap .box-wrap .center-wrap .left-wrap .fin-time i,
html .wrap .box-wrap .center-wrap .left-wrap .fin-time i {
  width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}
body .wrap .box-wrap .center-wrap .right-wrap,
html .wrap .box-wrap .center-wrap .right-wrap {
  width: 978px;
  height: 340px;
  overflow: hidden;
  margin-left: 15px;
}
body .wrap .box-wrap .center-wrap .right-wrap ul,
html .wrap .box-wrap .center-wrap .right-wrap ul {
  width: 2973px;
  display: flex;
  padding: 0;
  margin: 0;
  animation: ul 8s infinite;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li,
html .wrap .box-wrap .center-wrap .right-wrap ul li {
  list-style: none;
  width: 234px;
  height: 339px;
  background-color: #fafafa;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.img,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.img {
  display: flex;
  justify-content: center;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.img img,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.img img {
  width: 160px;
  height: 160px;
  margin-top: 35px;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.name,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.name {
  text-align: center;
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.dec,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.dec {
  text-align: center;
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.price,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.price {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.price span,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.price span {
  color: #ff6709;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li div.price del,
html .wrap .box-wrap .center-wrap .right-wrap ul li div.price del {
  color: #b0b0b0;
  text-decoration: line-through;
  margin-left: 0.5em;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(n+2),
html .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(n+2) {
  margin-left: 15px;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+1),
html .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+1) {
  border-top: 1px solid #ffac13;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+2),
html .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+2) {
  border-top: 1px solid #83c44e;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+3),
html .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+3) {
  border-top: 1px solid #2196f3;
}
body .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+4),
html .wrap .box-wrap .center-wrap .right-wrap ul li:nth-child(4n+4) {
  border-top: 1px solid #e53935;
}
body .wrap .box-wrap .bottom-wrap,
html .wrap .box-wrap .bottom-wrap {
  margin: 22px 0;
}
body .wrap .card,
html .wrap .card {
  width: 1226px;
  margin: 0 61.5px;
  height: auto;
}
body .wrap .card .top-card,
html .wrap .card .top-card {
  height: 58px;
}
body .wrap .card .top-card span,
html .wrap .card .top-card span {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
body .wrap .card .center-card,
html .wrap .card .center-card {
  display: flex;
}
body .wrap .card .center-card .right-card,
html .wrap .card .center-card .right-card {
  width: 978px;
  height: 340px;
  margin-left: 15px;
}
body .wrap .card .center-card .right-card ul,
html .wrap .card .center-card .right-card ul {
  width: 992px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
body .wrap .card .center-card .right-card ul li,
html .wrap .card .center-card .right-card ul li {
  list-style: none;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  background-color: #ffffff;
  margin-bottom: 14px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .wrap .card .center-card .right-card ul li div.img,
html .wrap .card .center-card .right-card ul li div.img {
  display: flex;
  justify-content: center;
}
body .wrap .card .center-card .right-card ul li div.img img,
html .wrap .card .center-card .right-card ul li div.img img {
  width: 160px;
  height: 160px;
}
body .wrap .card .center-card .right-card ul li div.name,
html .wrap .card .center-card .right-card ul li div.name {
  text-align: center;
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
}
body .wrap .card .center-card .right-card ul li div.dec,
html .wrap .card .center-card .right-card ul li div.dec {
  text-align: center;
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
body .wrap .card .center-card .right-card ul li div.price,
html .wrap .card .center-card .right-card ul li div.price {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
body .wrap .card .center-card .right-card ul li div.price span,
html .wrap .card .center-card .right-card ul li div.price span {
  color: #ff6709;
}
body .wrap .card .center-card .right-card ul li div.price del,
html .wrap .card .center-card .right-card ul li div.price del {
  color: #b0b0b0;
  margin-left: 0.5em;
  text-decoration: line-through;
}
body .wrap .card .center-card .right-card ul li:nth-child(n+2),
html .wrap .card .center-card .right-card ul li:nth-child(n+2) {
  margin-left: 15px;
}
body .wrap .card .center-card .right-card ul li:nth-child(4n+5),
html .wrap .card .center-card .right-card ul li:nth-child(4n+5) {
  margin-left: 0px;
}
body .wrap .card .center-card .right-card ul li:hover,
html .wrap .card .center-card .right-card ul li:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
body .wrap .card .bottom-card,
html .wrap .card .bottom-card {
  margin: 22px 0;
}
body .wrap .jiadian-card,
html .wrap .jiadian-card {
  width: 1226px;
  margin: 0 61.5px;
  height: auto;
}
body .wrap .jiadian-card .top-card,
html .wrap .jiadian-card .top-card {
  height: 58px;
}
body .wrap .jiadian-card .top-card span,
html .wrap .jiadian-card .top-card span {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
body .wrap .jiadian-card .center-card,
html .wrap .jiadian-card .center-card {
  display: flex;
}
body .wrap .jiadian-card .center-card .left-card,
html .wrap .jiadian-card .center-card .left-card {
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .wrap .jiadian-card .center-card .left-card img,
html .wrap .jiadian-card .center-card .left-card img {
  height: 300px;
  width: 234px;
}
body .wrap .jiadian-card .center-card .left-card img:first-child,
html .wrap .jiadian-card .center-card .left-card img:first-child {
  margin-bottom: 14px;
}
body .wrap .jiadian-card .center-card .left-card img:hover,
html .wrap .jiadian-card .center-card .left-card img:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
body .wrap .jiadian-card .center-card .right-card,
html .wrap .jiadian-card .center-card .right-card {
  width: 978px;
  height: 340px;
  margin-left: 15px;
}
body .wrap .jiadian-card .center-card .right-card ul,
html .wrap .jiadian-card .center-card .right-card ul {
  width: 992px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
body .wrap .jiadian-card .center-card .right-card ul li,
html .wrap .jiadian-card .center-card .right-card ul li {
  list-style: none;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  background-color: #ffffff;
  margin-bottom: 14px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .wrap .jiadian-card .center-card .right-card ul li div.img,
html .wrap .jiadian-card .center-card .right-card ul li div.img {
  display: flex;
  justify-content: center;
}
body .wrap .jiadian-card .center-card .right-card ul li div.img img,
html .wrap .jiadian-card .center-card .right-card ul li div.img img {
  width: 160px;
  height: 160px;
}
body .wrap .jiadian-card .center-card .right-card ul li div.name,
html .wrap .jiadian-card .center-card .right-card ul li div.name {
  text-align: center;
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
}
body .wrap .jiadian-card .center-card .right-card ul li div.dec,
html .wrap .jiadian-card .center-card .right-card ul li div.dec {
  text-align: center;
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
body .wrap .jiadian-card .center-card .right-card ul li div.price,
html .wrap .jiadian-card .center-card .right-card ul li div.price {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
body .wrap .jiadian-card .center-card .right-card ul li div.price span,
html .wrap .jiadian-card .center-card .right-card ul li div.price span {
  color: #ff6709;
}
body .wrap .jiadian-card .center-card .right-card ul li div.price del,
html .wrap .jiadian-card .center-card .right-card ul li div.price del {
  color: #b0b0b0;
  margin-left: 0.5em;
  text-decoration: line-through;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img {
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  display: flex;
  background-color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-name,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-name {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 40px;
  width: 100px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-name span,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-name span {
  width: 100px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-name .fin-price,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-name .fin-price {
  color: #ff6709;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-imgs,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-imgs {
  margin-top: 30px;
  margin-left: 10px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-imgs img,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img .fin-imgs img {
  width: 80px;
  height: 80px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin-img:hover,
html .wrap .jiadian-card .center-card .right-card ul li .fin-img:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
body .wrap .jiadian-card .center-card .right-card ul li .fin,
html .wrap .jiadian-card .center-card .right-card ul li .fin {
  width: 234px;
  height: 143px;
  margin-bottom: 14px;
  display: flex;
  background-color: #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin .nn,
html .wrap .jiadian-card .center-card .right-card ul li .fin .nn {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 45px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin .nn .finname,
html .wrap .jiadian-card .center-card .right-card ul li .fin .nn .finname {
  font-size: 18px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin .nn .findec,
html .wrap .jiadian-card .center-card .right-card ul li .fin .nn .findec {
  color: #757575;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin .finimg,
html .wrap .jiadian-card .center-card .right-card ul li .fin .finimg {
  margin-top: 30px;
  margin-left: 35px;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin .finimg i,
html .wrap .jiadian-card .center-card .right-card ul li .fin .finimg i {
  width: 52px;
  height: 52px;
  font-size: 52px;
  color: #ff6709;
}
body .wrap .jiadian-card .center-card .right-card ul li .fin:hover,
html .wrap .jiadian-card .center-card .right-card ul li .fin:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
body .wrap .jiadian-card .center-card .right-card ul li:nth-child(n+2),
html .wrap .jiadian-card .center-card .right-card ul li:nth-child(n+2) {
  margin-left: 15px;
}
body .wrap .jiadian-card .center-card .right-card ul li:nth-child(4n+5),
html .wrap .jiadian-card .center-card .right-card ul li:nth-child(4n+5) {
  margin-left: 0px;
}
body .wrap .jiadian-card .center-card .right-card ul li.hover:hover,
html .wrap .jiadian-card .center-card .right-card ul li.hover:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
body .wrap .jiadian-card .center-card .right-card ul li:last-child,
html .wrap .jiadian-card .center-card .right-card ul li:last-child {
  background-color: #f5f5f5;
  padding: 0;
  margin-top: 0;
}
body .wrap .jiadian-card .bottom-card,
html .wrap .jiadian-card .bottom-card {
  margin: 22px 0;
}
