body,
html {
    padding: 0;
    margin: 0;

    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;

    header {

        height: 40px;
        width: 100%;
        background-color: #333333;

        .nav_container {
            display: flex;
            margin: 0 61.5px 0 61.5px;

            .left_nav {
                flex: 5;
                display: flex;
                line-height: 40px;
                align-items: center;

                span {
                    color: #424242;
                    margin: 0 3.4px 0 5px;
                }

                a {
                    height: 100%;
                    font-size: 12px;
                    text-decoration: none;
                    color: #B0B0B0;
                    position: relative;

                    span.app {
                        position: absolute;
                        top: 40px;
                        left: 50%;
                        width: 124px;
                        height: 0;
                        z-index: 2;
                        background: #fff;
                        margin-left: -55px;
                        box-shadow: 0 1px 5px #aaa;
                        text-align: center;
                        font-size: 14px;
                        color: #333;
                        line-height: 1;
                        overflow: hidden;
                        transition: height .3s;
                    }

                    img {
                        display: block;
                        margin: 18px auto 10px;
                    }

                }

                a.app_hover:hover {
                    .app {
                        height: auto;
                        line-height: 33px;

                    }
                }
            }



            .a_hover:hover {
                color: #FFFFFF;
            }
        }

        .center_nav {
            flex: 3;
            line-height: 40px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            a {
                height: 100%;
                font-size: 12px;
                text-decoration: none;
                color: #B0B0B0;

            }

            span {
                color: #424242;
                margin: 0 3.4px 0 5px;
            }

            .a_hover:hover {
                color: #FFFFFF;
            }
        }

        .right_nav {
            flex: 1;
            line-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            background-color: #424242;
            position: relative;

            a {
                z-index: 32;
                flex: 1;
                height: 100%;
                font-size: 12px;
                text-decoration: none;
                color: #B0B0B0;
                display: flex;
                align-items: center;
                justify-content: center;

                em {
                    margin-right: 14px;
                    font-size: 14px;

                    span {
                        color: #B0B0B0;
                    }
                }
            }

            a:hover+div.car_hover {
                height: 100px;
                line-height: 100px;
                text-align: center;
            }

            a:hover {
                background-color: #FFF;
                color: #ff672c;

                span {
                    color: #ff672c;
                }
            }

            div.car_hover {
                position: absolute;
                right: 0;
                top: 40px;
                z-index: 31;
                width: 316px;
                height: 0;
                color: #424242;
                background: #fff;
                -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
                box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
                overflow: hidden;

            }
        }
    }

    .site_header {
        height: 100px;
        background-color: #ffffff;
        display: flex;
        align-items: center;

        .container {
            width: 1326px;
            margin-right: 40px;
            margin-left: 63px;
            height: 100%;
            position: relative;

            .logo {
                margin-top: 22px;
                display: block;
                width: 55px;
                height: 55px;
                overflow: hidden;
                background-color: #ff6700;

                .logo_hov {
                    transition: transform 0.3s ease;
                    width: 86px;
                    height: 100%;
                    display: flex;

                    i {
                        flex: 1;
                        margin-left: 11px;
                        margin-top: 5px;
                        font-size: 32px;
                        color: #fff;
                    }
                }

            }

            .logo:hover .logo_hov {
                transform: translate(-43px, 0);
                transition: transform 0.3s ease;
            }

            .header_nav {
                position: absolute;
                top: 0;
                left: 55px;
                width: 850px;
                height: 100%;
                display: flex;
                align-items: center;

                ul {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 12px;
                    margin-left: 119px;

                    li {

                        list-style: none;
                        cursor: pointer;

                        a {
                            display: block;
                            padding: 26px 10px 38px;

                            span {
                                font-size: 16px;
                                color: #333333;
                            }

                        }
                    }

                    .chilrd_container {
                        z-index: 2;
                        background-color: #ffffff;
                        position: absolute;
                        top: 100px;
                        left: -237px;
                        width: 1349px;
                        height: 0;
                        border: 2px solid rgba(105, 101, 101, 0);
                        border-left: 0;
                        border-right: 0;
                        box-shadow: 0px;
                        transition: all .3s;
                        transition-delay: 0.3s;

                        ul {
                            width: 1163px;
                            margin-right: 40px;
                            margin-left: 63px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all .3s;
                            transition-delay: 0.3s;

                            li {
                                float: left;
                                width: 180px;
                                padding: 23px 12px 0;
                                text-align: center;
                                font-size: 12px;
                                position: relative;

                                .list {
                                    .xm_name {
                                        color: #333;
                                        margin-top: 10px;
                                    }

                                    p {
                                        color: #ff6700;
                                        margin: 0;
                                    }
                                }
                            }

                            li:nth-child(n+2)::before {
                                position: absolute;
                                left: 0;
                                top: 20px;
                                z-index: 1;
                                width: 1px;
                                height: 100px;
                                content: "";
                                background-color: #e0e0e0;
                            }
                        }
                    }

                    .chilrd_container:hover {
                        position: absolute;
                        top: 100px;
                        left: -237px;
                        width: 1349px;
                        height: 228px;
                        border: 1px solid #e0e0e0;
                        border-left: 0;
                        border-right: 0;
                        transition: height .5s;
                        box-shadow: 0px 3px 4px rgba(0, 0, 0, .18);

                        ul {
                            opacity: 1;
                            visibility: visible;
                            transition: all 1s;
                        }
                    }

                    li:hover span {
                        color: #ff6700;

                    }

                    li:hover+.chilrd_container {
                        position: absolute;
                        top: 100px;
                        left: -237px;
                        width: 1349px;
                        height: 228px;
                        border: 1px solid #e0e0e0;
                        border-left: 0;
                        border-right: 0;
                        transition: height .5s;
                        transition-delay: 0.2s;
                        box-shadow: 0px 3px 4px rgba(0, 0, 0, .18);

                        ul {
                            opacity: 1;
                            visibility: visible;
                            transition: all 1s;
                            transition-delay: .2s;
                        }
                    }

                }
            }

            .header_search {
                position: absolute;
                top: 0;
                right: 0;
                width: 321px;
                height: 100%;
                display: flex;
                align-items: center;

                form {
                    position: relative;
                    right: 0;
                    width: auto;
                    height: 50px;
                    display: flex;
                    align-items: center;

                    .search {
                        right: 51px;
                        z-index: 1;
                        width: 245px;
                        height: 50px;
                        padding: 0 10px;
                        font-size: 14px;
                        line-height: 48px;
                        border: 1px solid #e0e0e0;
                    }

                    .search:focus {
                        outline: none;
                        border: 1px solid #ff6700;
                    }

                    .search:focus+.search_do {
                        outline: none;
                        border: 1px solid #ff6700;
                        border-left: 0;
                    }

                    .search_do {
                        // display: inline-block;
                        // z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 52px;
                        height: 48px;
                        font-size: 24px;
                        line-height: 24px;
                        background: #fff;
                        color: #616161;
                        border: 1px solid #e0e0e0;
                        border-left: 0;

                        i {
                            display: flex;
                            justify-content: center;
                            flex: 1;
                            font-size: 20px;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }

    .swiper_box {
        height: 460px;
        width: 1226px;
        margin-left: 63px;
        margin-right: 40px;
        display: flex;
        position: relative;

        .swiper {
            width: 100%;
            height: 460px;

            // background-color: burlywood;
            .swiper_list {
                width: 234px;
                height: 460px;
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                ul.uu {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 20px 0;
                    margin: 0;
                    color: #fff;
                    background: rgba(105, 101, 101, .6);

                    li.ll {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        flex: 1;

                        a {
                            width: 100%;
                            height: 100%;
                            padding-left: 30px;
                            display: flex;
                            align-items: center;
                            position: relative;

                            em {
                                position: absolute;
                                top: 9px;
                                right: 20px;
                            }
                        }




                        .list_item {
                            position: absolute;
                            left: 234px;
                            top: 4px;
                            visibility: hidden;
                            opacity: 0;

                            ul {

                                background-color: #fff;
                                padding: 0px;
                                width: 991px;
                                border: 1px solid #e0e0e0;
                                border-left: 0;
                                background: #fff;
                                -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                                box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                                height: 455px;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;

                                li {
                                    list-style: none;
                                    height: 75px;
                                    width: 220px;

                                    a {
                                        text-decoration: none;
                                        height: 75px;
                                        width: 220px;
                                        color: #333;

                                        span {
                                            padding: 10px;
                                        }

                                        span:hover {
                                            color: #ff672c;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    li.ll:hover {
                        background-color: #ff6700;

                        .list_item {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .swiper_item {
                position: relative;
                height: 460px;

                .item {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;

                    img {
                        width: 1226px;
                        height: 460px;
                    }
                }

                .item-1 {
                    opacity: 1;
                    visibility: visible;
                    animation: item-1 20s infinite alternate;

                    @keyframes item-1 {
                        20% {
                            opacity: 1;
                        }

                        40% {
                            opacity: 0;
                        }

                        60% {
                            opacity: 0;
                        }

                        80% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }

                .item-2 {
                    opacity: 0;
                    visibility: visible;
                    animation: item-2 20s infinite alternate;

                    @keyframes item-2 {
                        20% {
                            opacity: 0;
                        }

                        40% {
                            opacity: 1;
                        }

                        60% {
                            opacity: 0;
                        }

                        80% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }

                .item-3 {
                    opacity: 0;
                    visibility: visible;
                    animation: item-3 20s infinite alternate;

                    @keyframes item-3 {
                        20% {
                            opacity: 0;
                        }

                        40% {
                            opacity: 0;
                        }

                        60% {
                            opacity: 1;
                        }

                        80% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }

                .item-4 {
                    opacity: 0;
                    visibility: visible;
                    animation: item-4 20s infinite alternate;

                    @keyframes item-4 {
                        20% {
                            opacity: 0;
                        }

                        40% {
                            opacity: 0;
                        }

                        60% {
                            opacity: 0;
                        }

                        80% {
                            opacity: 1;
                        }

                        100% {
                            opacity: 0;
                        }
                    }
                }

                .item-5 {
                    opacity: 0;
                    visibility: visible;
                    animation: item-5 20s infinite alternate;

                    @keyframes item-5 {
                        20% {
                            opacity: 0;
                        }

                        40% {
                            opacity: 0;
                        }

                        60% {
                            opacity: 0;
                        }

                        80% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                }

            }

        }
    }

    .content-box {
        width: 1226px;
        height: 170px;
        margin: 15px 61.5px 30px;
        display: flex;

        .content-left {
            width: 234px;
            height: 170px;

            ul {
                width: 234px;
                height: 170px;
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                background-color: #5f5750;

                li {
                    position: relative;
                    flex: 1;
                    width: 70px;
                    height: 82px;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 3px;

                    a {
                        opacity: .7;
                        font-size: 12px;
                        width: 70px;
                        height: 64px;
                        text-decoration: none;
                        color: #fff;
                        text-align: center;
                        padding-top: 18px;

                        img {
                            display: block;
                            width: 24px;
                            height: 24px;
                            margin: 0 auto 4px;
                        }
                    }
                }

                li:before {
                    position: absolute;
                    top: 1px;
                    left: 6px;
                    width: 64px;
                    height: 1px;
                    content: "";
                    background: #665e57;
                }

                li:after {
                    position: absolute;
                    content: "";
                    background: #665e57;
                    top: 6px;
                    left: 0;
                    width: 1px;
                    height: 70px;
                }

                li:hover {
                    a {
                        opacity: 1;
                    }
                }
            }
        }

        .content-right {
            display: flex;

            .item {
                img {
                    width: 316px;
                    height: 170px;
                    margin-left: 15px;
                }
            }

            .item:hover {
                img {
                    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);

                }
            }
        }
    }

    .wrap {
        width: 100%;
        height: auto;
        background-color: #f5f5f5;

        .box-wrap {
            width: 1226px;
            margin: 0 61.5px;
            height: auto;

            .top-wrap {
                height: 58px;

                span {
                    font-size: 22px;
                    font-weight: 200;
                    line-height: 58px;
                    color: #333;
                }
            }

            .center-wrap {
                display: flex;

                .left-wrap {
                    text-align: center;
                    height: 339px;
                    width: 234px;
                    background-color: #f1eded;
                    border-top: 1px solid #e53935;

                    .times {
                        color: #e53935;
                        font-size: 21px;
                        margin-top: 50px;
                    }

                    em {
                        padding-left: 50px;
                        color: #e53935;
                        font-size: 70px;
                    }

                    .notes {
                        margin-top: 10px;
                        color: rgba(0, 0, 0, .54);
                        font-size: 15px;
                    }

                    .fin-time {
                        height: 48px;
                        margin-top: 30px;

                        span {
                            width: 46px;
                            height: 46px;
                            font-size: 24px;
                            color: #fff;
                            line-height: 46px;
                            padding: 10px;
                            background-color: #605751;
                        }

                        i {
                            width: 15px;
                            height: 46px;
                            line-height: 46px;
                            color: #605751;
                            font-size: 28px;
                            font-style: normal
                        }
                    }
                }

                .right-wrap {
                    width: 978px;
                    height: 340px;
                    overflow: hidden;
                    margin-left: 15px;
                    ul {

                        width: 2973px;
                        display: flex;
                        padding: 0;
                        margin: 0;
                        animation: ul 8s infinite;

                        li {
                            list-style: none;
                            width: 234px;
                            height: 339px;
                            background-color: #fafafa;

                            div.img {
                                display: flex;
                                justify-content: center;

                                img {
                                    width: 160px;
                                    height: 160px;
                                    margin-top: 35px;
                                }
                            }

                            div.name {
                                text-align: center;
                                margin: 0 20px 3px;
                                font-size: 14px;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                color: #212121;
                                overflow: hidden;
                                white-space: nowrap;
                                margin-top: 20px;
                            }

                            div.dec {
                                text-align: center;
                                height: 18px;
                                margin: 0 20px 12px;
                                font-size: 12px;
                                text-overflow: ellipsis;
                                color: #b0b0b0;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            div.price {
                                display: flex;
                                justify-content: center;
                                margin-top: 20px;

                                span {
                                    color: #ff6709;
                                }

                                del {
                                    color: #b0b0b0;
                                    text-decoration: line-through;
                                }
                            }
                        }

                        li:nth-child(n+2) {
                            margin-left: 15px;
                        }

                        li:nth-child(4n+1) {
                            border-top: 1px solid #ffac13;
                        }

                        li:nth-child(4n+2) {
                            border-top: 1px solid #83c44e;
                        }

                        li:nth-child(4n+3) {
                            border-top: 1px solid #2196f3;
                        }

                        li:nth-child(4n+4) {
                            border-top: 1px solid #e53935;
                        }
                    }

                }
            }

            .bottom-wrap {}
        }
    }
}